$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
$primary-colour: #FFFFFF;
$secondary-colour: #000000;

@import 'reset';

body {
  font: 14px $font-stack;
  text-align: center;
  color: $primary-colour;
  background-color: #FF69B4;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Heracles;
  src: url(/fonts/Heracles.ttf);
}

.container {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 15em;
  font-family: Heracles;
  background: linear-gradient(rgba(100, 100, 100, 0.3), rgba(100, 100, 100, 0));
}

#nav {
  text-align: right;
  padding: 10px;
  padding-right: 15px;
  background-color: rgba(100,100,100,0.3);
}

.body {
  padding-top: 10px;
}

.error {
  color: #990000;
}

form {
  .box {
    display: table;
    margin: auto;
  }

  p {
    display: table-row;
  }

  label { 
    display: table-cell;
    text-align: right;
    margin: 5px;
    padding: 5px;
  }

  input {
    display: table-cell;
    margin: 5px;
    padding: 5px;
  }
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

div {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
