$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
$primary-colour: #FFFFFF;
$secondary-colour: #E0E0E0;
$error-colour: #990000;
$background-colour: #003366;
$bg-colour-light: rgba(255, 255, 255, 0.3);
$bg-colour-dark: rgba(255, 255, 255, 0.2);
$gradient-colour1: rgba(255, 255, 255, 0.3);
$gradient-colour2: rgba(255, 255, 255, 0);

@mixin vertical-center ($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-family: Heracles;
  src: url(/fonts/Heracles.ttf);
}

body {
  font: 14px $font-stack;
  text-align: center;
  color: $primary-colour;
  background-color: $background-colour;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.container {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 8em;
  font-family: Heracles;
  background: linear-gradient($gradient-colour1, $gradient-colour2);
}

.main {
  font-size: 15em;
}

#user_info {
  text-align: right;
  padding: 10px;
  padding-right: 15px;
  background-color: $gradient-colour1;
  
  a {
    color: $primary-colour;
  }
}

#nav {
  a {
    color: $primary-colour;
  }
}

.body {
  padding-top: 10px;
}

.error {
  color: $error-colour;
}

.search_results {
  padding: 5px;
  tr {
    padding: 5px;
    background-color: $bg-colour-light;
    color: $secondary-colour;

    td:first-child {
      min-width: 100px;
    }

    td:nth-child(2) {
      min-width: 80px;
    }
    
    td:nth-child(3) {
      min-width: 250px;
    }
  }

  tr:first-child {
    background-color: $bg-colour-dark;
    color: $primary-colour;
    font-weight: bold;
  }
}

ul {
  li {
    text-align: center;
    list-style: none;
    font-style: italic;
    color: $secondary-colour;
  }
}

form {
  .box {
    display: table;
    margin: auto;
  
    p {
      display: table-row;
    }

    label { 
      display: table-cell;
      text-align: right;
      margin: 5px;
      padding: 5px;
    }

    input {
      display: table-cell;
      margin: 5px;
      padding: 5px;
    }

    button {
      display: table-cell;
      margin: 5px;
      padding: 8px;
    }

    select {
      display: table-cell;
      margin: 5px;
      padding: 5px;
      width: 206px;
      height: 20px;
    }
  }
}

table {
  margin: auto;
  text-align: left;
  color: $secondary-colour;

  td {
    padding: 5px;
  }

  .col1 {
    text-align: right;
    color: $primary-colour;
    font-weight: bold;
  }

  .header > td {
    color: $primary-colour;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: $secondary-colour;
  cursor: pointer hand;
}

a:hover {
  text-decoration: none;
  color: $primary-colour;
  cursor: pointer hand;
}

a.bold {
  color: $primary-colour;
  cursor: pointer hand;
}

div {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
