<div class="body">

<div id="help">

<p><strong>What is Gift It?</strong></p>
<p>Gift It is a web application designed to help people remember gift ideas.</p>
<br>

<p><strong>How do I use Gift It?</strong></p>
<p>First, create an account and login! You can search for gift ideas without logging in, but you would be missing out on all the other functionalities Gift It offers!<br><br>
After logging in, you can <a href="/gift">add gifts and events</a>, associate them, and Gift It will automatically email you to remind you about your gift ideas!</p>
<br>

<p><strong>Who created Gift It?</strong></p>
<p>Gift It was made by <a href="http://www.curtis-li.com">Curtis Li</a>.<br>
Please check out his <a href="http://www.curtis-li.com">website</a> or <a href="">GitHub</a> for more!</p>

</div>

</div>
