<div id="title">
  Gift It
</div>
<div>
  <p>
    <a>Home</a>&emsp;<a>My Account</a>&emsp;<a>Add a Gift</a>&emsp;<a>Search</a>&emsp;<a>Settings</a>
  </p>
</div>
<div style="background:#FFFFF0;height:1000px;">
  Stuff
</div>
