<div class="title main">
  Gift It
</div>
<div>
  <p>
    <a href="/">Home</a>&emsp;<a href="/user">My Account</a>&emsp;<a>Add a Gift</a>&emsp;<a>Search</a>&emsp;<a>Settings</a>
  </p>
</div>
<div class="body">
  Main page body
</div>
