<div class="body">
<h1>Login</h1>
<br>
<h4 class="error">{{ message }}</h4>
<form method="POST">
  <div class="box">
    <p>
      <label for="username">Username:</label>
      <input name="username" type="text">
    </p>
    <p>
      <label for="password">Password:</label>
      <input name="password" type="password">
    </p>
  </div>
  <input class="btn" type="submit" value="Login">
</form>
<br>
Don't have an account? <a href="/register">Register</a>
</div>
