<h1>Login</h1>
<br>
<h3>{{ message }}</h3>
<form method="POST">
    Username: <input name="username" type="text"> <br>
    Password: <input name="password" type="password"> <br>
    <input class="btn" type="submit" value="Login">
</form>
<br>
Don't have an account? <a href="/register">Register</a>
