<div class="body">
<h4 class="error">{{ message }}</h4>
<form method="POST">
  <div class="box">
    <p>
      <label for="username">Username:</label>
      <input name="username" type="text" required>
    </p>
    <p>
      <label for="password">Password:</label>
      <input name="password" type="password" required>
    </p>
    <p>
      <label for="verify_password">Verify Password:</label>
      <input name="verify_password" type="password" required>
    </p>
    <br>
    <p>
      <label for="first_name">First Name:</label>
      <input name="first_name" type="text" required>
    </p>
    <p>
      <label for="last_name">Last Name:</label>
      <input name="last_name" type="text" required>
    </p>
    <p>
      <label for="email">Email:</label>
      <input name="email" type="email" required>
    </p>
    <p>
      <label for="birthday">Date of Birth:</label>
      <input name="birthday" type="date" required>
    </p>
  </div>
  <br>
  <input class="btn" type="submit" value="Register">
</form>
<br>
<p>Already have an account? <a href="/login">Login</a></p>
</div>
