<div class="title">
Register
</div>
<div class="body">
<h4 class="error">{{ message }}</h4>
<form method="POST">
  <div class="box">
    <p>
      <label for="username">Username:</label>
      <input name="username" type="text">
    </p>
    <p>
      <label for="display_name">Name:</label>
      <input name="display_name" type="text">
    </p>
    <p>
      <label for="email">Email:</label>
      <input name="email" type="email">
    </p>
    <p>
      <label for="password">Password:</label>
      <input name="password" type="password">
    </p>
  </div>
  <input class="btn" type="submit" value="Register">
</form>
<br>
Already have an account? <a href="/login">Login</a>
</div>
