<div class="body">
<form method="POST">
  <div class="box">
    <p>
      <label for="gift">Gift:</label>
      <input name="gift" type="text">
    </p>
    <p>
      <label for="link">Price:</label>
      <input name="price" type="text">
    </p>
    <p>
      <label for="link">Link:</label>
      <input name="link" type="text">
    </p>
    <p>
      <label for="privacy">Privacy:</label>
      <select name="privacy">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </p>
  </div>
  <br>
  <input class="btn" type="submit" value="Add to Wishlist">
</form>
</div>
