<div class="body">
<div class="list">
  {{#if gifts}}
    Last updated: {{last_update}}
    <ul>
      {{#each gifts}}
      <li>{{this.name}}</li>
      {{/each}}
  </ul>
  {{else}}
    Wishlist is empty.
  {{/if}}
</div>
{{#if myAccount}}
  <a href="wishlist/add">Add an item to your wishlist!</a>
{{/if}}
</div>
