<div class="body">
<form method="POST">
  <div class="box">
    <p>
      <label for="gift">Gift:</label>
      <input name="gift" type="text">
    </p>
    <p>
      <label for="link">Link:</label>
      <input name="link" type="text">
    </p>
  </div>
  <input class="btn" type="submit" value="Add to Wishlist">
</form>
</div>
