<script src="/javascript/tags.js"></script>
<div class="body">
<form method="POST">
  <div class="box">
    <p>
      <label for="gift">Gift:</label>
      <input name="gift" type="text">
    </p>
    <p>
      <label for="price">Price:</label>
      <select name="price">
        <option value=1>$</option>
        <option value=2>$$</option>
        <option value=3>$$$</option>
        <option value=4>$$$$</option>
        <option value=5>$$$$$</option>
      </select>
    </p>
    <p>
      <label for="privacy">Privacy:</label>
      <select name="privacy">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </p>
  </div>
  <br>
  <div class="box" id="tags">
    Tags
    <p>
      <input name="tag" type="text">
      <button class="btn" id="add_tag">+</button>
      <button class="btn" id="rem_tag">-</button>
    </p>
  </div>
  <br>
  <input class="btn" type="submit" value="Add to Wishlist">
</form>
</div>
