<script src="/javascript/search.js"></script>
<div class="body">
<p><strong>
  Search by:&emsp;<a id="byGift" class="bold">Gift</a>&emsp;<a id="byTag">Tag</a>&emsp;<a id="byUser">User</a>&emsp;<a id="byEvent">Event</a>
</strong></p>
<form>
  <div class="box">
    <p>
      <input type="search" id="search_query">
      <input type="hidden" id="search_by" value="gift">
      <input class="btn" type="submit" value="Search">
    </p>
  </div>
</form> 

<div class="search_results" id="results"></div>
</div>
