<div class="body">
<p>
  Search by:&emsp;<a></a>
</p>
<form method="POST">
  <div class="box">
    <p>
      <label for="search_query">Search:</label>
      <input name="search_query" type="text">
    </p>
  </div>
</form> 
</div>
