<html>
<head>
  <title>Welcome to Gift It!</title>
</head>
<body>
  <p>Hi {{name}},</p>

  <p><strong>Welcome to Gift It.</strong> Thank you for signing up with us!</p>

  <p><a href="http://www.google.com">Login</a> to your account now!</p>

  <p>Enjoy!</p>
  <p>Gift It</p>
</body>
</html>
