<html>
<head>
  <title>Reminder! You have an event coming up...</title>
</head>
<body>
  <p>Hi {{name}},</p>

  <p>You have an event coming up: <a href="http://gift-it.herokuapp.com/gift/event_info?id={{evt_id}}">{{evt_name}}</a>!</p>

  <p><a href="http://gift-it.herokuapp.com/login">Login</a> to your account now!</p>
  <p>Check out your event <a href="http://gift-it.herokuapp.com/gift/event_info?id={{evt_id}}">here</a>!</p>

  <p>Best regards,</p>
  <p><a href="http://gift-it.herokuapp.com">Gift It</a></p>
</body>
</html>
